<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- new -->
		<add key="DBServer" value="POSTGRESQL"/>
		<add key="ServerName" value="localhost"/>
		<add key="Login" value="postgres"/>
		<add key="UserPassword" value="123"/>
		<add key="UDPServerListenPorts" value="9999;1021;1022;5011;5012;5013;5016;49154"/>
		<add key="UDPBroadcastFindPorts" value="9999;9998;1021;5011;5012;5013;5015"/>
		<add key="UDPCanalFindPorts" value="1021"/>
		<add key="UDPPortRetransmission" value="9997"/>
		<add key="IntrfLang" value="ru"/>
		<add key="XMLUnloadRegim" value="1"/>
		<add key="DelXMLAfterTime" value="10"/>
		<add key="LastLogin" value="admin"/>
		<add key="DatabaseName" value="IraPromDB"/>
		<add key="UseTCPServer" value="1"/>
		<add key="TCPServerPort" value="6530"/>
		<add key="SendJSON" value="0"/>
		<add key="SendJSONAdr" value="https://httpbin.org/post"/>
		<add key="TCPServerIP" value="127.0.0.1"/>
		<add key="VideoServerHost" value="http://127.0.0.1:8082"/>
		<add key="ServerCameraGrpcPort" value="8092"/>
		<add key="ServerCameraGrpcUrlForClient" value="http://192.168.16.249:8092"/>
	</appSettings>	  
</configuration>
